name: Java CI with Gradle

on:
  push:
    branches: [ "main", "develop" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest # GitHub가 제공하는 리눅스 머신

    steps:
    - uses: actions/checkout@v3

    - name: Set up JDK 17
      uses: actions/setup-java@v3
      with:
        java-version: '17'
        distribution: 'temurin'

    - name: Grant execute permission for gradlew
      run: chmod +x gradlew

    # GitHub Actions 환경에서도 도커가 기본 지원되므로 TestContainers가 작동함!
    - name: Test with Gradle
      run: ./gradlew test

    # (선택) 테스트가 통과하면 빌드까지 수행
    - name: Build with Gradle
      run: ./gradlew build -x test
